<p>1</p>
{{!-- {{#if products}}
  <h1>Resultados de la búsqueda para "{{query}}"</h1>
  <div class='row product justify-content-evenly'>
    {{#each products}}
      <div class='containerCard containerProd' style='width: 14rem; margin-top: 5px;'>
        <h3 class='card-title'>{{title}}</h3>
        <p class='card-text'>{{description}}</p>
        <p class='card-text'>$ {{price}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No se encontraron resultados para "{{query}}"</p>
{{/if}} --}}